@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 10%,
    rgba(0, 52, 177, 1) 30%,
    rgba(1, 48, 172, 1) 70%,
    rgba(9, 9, 121, 1) 90%
  );
}
